<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.uniz.mapper.BoardMapper">
	
	
	<select id="getListWithPaging" resultType="com.uniz.domain.BoardVO">
		<![CDATA[
	select  postsn , title ,createdatetime ,usersn
    	from(
            select
            rownum rn, p.postsn , p.title , p.createdatetime , u.usersn
            from boardpost p , boardpostcontent c , userdata u
    		where
		]]>	
		
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%' ||#{keyword}|| '%'
						</when>
						<when test="type == 'C'.toString()">
							c.postcontent like '%' ||#{keyword}|| '%'
						</when>
						<when test="type == 'W'.toString()">
							u.userSN like '%' ||#{keyword}|| '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
		<![CDATA[
			
			rownum <= #{pageNum} * #{amount} and u.usersn = p.usersn and p.postsn = c.postsn
			order by postsn desc
			)
		where rn > (#{pageNum} -1 ) * #{amount}
		]]>
	</select>
			
	
	
	<select id="getTotalCount" resultType="int">
		
		select count(*) from boardpost 
		where
		
		 postSN > 0
		
	</select>
	
	<select id="getList"  resultType="com.uniz.domain.BoardVO">
		
		<![CDATA[
			 select p.postsn, p.title, c.postcontent, p.createDateTime , u.nick
			from boardpost p , boardpostcontent c , userdata u
			where p.postsn = c.postsn and u.usersn = p.usersn
			order by p.postsn desc
		]]>
		
	</select>
	
	<select id="read" resultType="com.uniz.domain.BoardVO">
		
			select p.postSN, u.nick, p.title, c.postcontent, p.createdatetime
			from boardpost p , boardpostcontent c , userdata u
			where p.postSN = #{postSN} and p.postsn = c.postsn and u.usersn = p.usersn
			
	</select>
	
	<insert id="insertPost">
		<selectKey keyProperty="postSN" order="BEFORE" resultType="long">
			select boardpost_seq.nextval from dual
		</selectKey>
		insert into boardpost (postSN, userSN, title)
		values (#{postSN}, #{userSN} , #{title} )
	</insert>
	
	<insert id="insertCont">
	
		insert into boardpostcontent (postSN , postcontent)
		values (#{postSN} , #{postContent} )
	
	</insert>
	
	<delete id="deletePost">
		delete from boardpost where postSN = #{postSN}
	</delete>
	
	<delete id="deleteCont">
		delete from boardpostcontent where postSN = #{postSN}
	</delete>
	
	<delete id="deleteReply">
		delete from boardpostreply where postSN = #{postSN}
	</delete>
	
	<update id="updatePost" parameterType="com.uniz.domain.BoardVO">
		update boardpost
		set title = #{title},
		updatedatetime = sysdate
		where postSN = #{postSN}
	</update>
	
	<update id="updateCont" parameterType="com.uniz.domain.BoardVO">
		update boardpostcontent
		set postContent = #{postContent}
		where postSN = #{postSN}		
	</update>
	
	</mapper>