<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uniz.mapper.ChannelAttachMapper">

	<insert id="insert">
		insert into channel_imgfile
		(uuid, uploadpath, filename, filetype, postsn)
		values
		(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{postSN})
	</insert>
	
	<delete id="delete">
		delete from channel_imgfile where postSN = #{postSN}
	</delete>
	
	<select id="findByPostSN" resultType="com.uniz.domain.ChannelAttachVO">
		select * from channel_imgfile where postSN = #{postSN}
	</select>
	
	<delete id="deleteAll">
		delete channel_imgfile where postSN = #{postSN}
	</delete>

</mapper>