<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.uniz.mapper.ReplyMapper">

	<select id="getReplyListWithPaging" resultType="com.uniz.domain.ReplyVO">
	<![CDATA[
		select *
		from (
			select rownum rn , a.*
			from
				(
				 select r.postSN , r.replySN , r.replyContent, u.nick , r.createdatetime , u.usersn
				 from boardpostreply r , userdata u
				 where postSN = #{postSN}
				 and u.usersn = r.usersn
				 order by replySN asc
				) a
				where
	]]>	
	<![CDATA[
	  	rownum <= #{cri.pageNum} * #{cri.amount}
	  	)
	  	where rn > (#{cri.pageNum} -1 ) * #{cri.amount}
	  ]]>	
	</select>
	
	<select id="getList" resultType="com.uniz.domain.ReplyVO">
		select * 
		from boardpostreply r , userdata u
		where r.postsn = #{postSN}
		and r.userSN = u.userSN
	</select>
	
	<select id="getCountByPostSN" resultType="int">
		<![CDATA[
			select count(replySN) from boardpostreply where postSN = #{postSN}
		]]>
	</select>
		
	<insert id="insert">
		insert into BOARDPOSTREPLY (REPLYSN , USERSN , POSTSN , REPLYCONTENT, CREATEDATETIME )
		values (BOARDPOSTREPLY_SEQ.nextval , #{userSN} , #{postSN} , #{replyContent} , sysdate)
	</insert>		
	
	<select id="read" resultType="com.uniz.domain.ReplyVO">
		select * from boardpostreply where replySN = #{replySN}
	</select>
	
	<delete id="deleteReply">
		delete from boardpostreply where replySN = #{replySN}
	</delete>
	
	<update id="update" >
		update boardpostreply set replyContent = #{replyContent}
		where replySN = #{replySN}
	</update>
		
</mapper>