<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniz.mapper.UnizHitMapper">

	<select id="read" resultType = "com.uniz.domain.VideoDataVO">
	
	<![CDATA[
	select* from videodata where videoSN = #{vodeoSN}
	]]>
	
	</select>	
	
	<select id="getHitList" resultType = "com.uniz.domain.VideoDataVO">
	<![CDATA[
	
	SELECT videoSN,thumbUrl,yuploaddatetime
	
	FROM videoData2
	
	where yuploaddatetime >= (select SYSDATE - 60
                          from dual
                         )
	
	order by viewCnt+likeCnt desc
			
	]]>
	</select>	
	
	
	<select id="getVideo" resultType="com.uniz.domain.VideoDataVO">
		SELECT * 
		FROM videoData2 
		where videoSn = #{videoSN}
	</select>
	
	<select id="keywordHitList" resultType="com.uniz.domain.VideoDataVO">
		SELECT v.videoSN,v.thumbUrl,v.title
		FROM  videoData2 v , uniz u
		WHERE v.utbCateSN = u.unizSN
			  and utbCateSN IN 
		<foreach item="unizSN" index="index" collection="unizSNlist" open="(" separator="," close=")">
			#{unizSN.unizSN}
		</foreach>
	</select>
	

	
	
	<select id="keywordUniz" resultType="com.uniz.domain.UnizLayerListVO">
		select unizsn
		from unizlayerlist
		where parentunizsn = #{unizSN}
	
	
	</select>
	
</mapper>