<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniz.mapper.UserMapper">

<insert id="userDataInsert">
	<selectKey keyProperty="userSN" order="BEFORE" resultType="long">
		SELECT USERDATA_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO USERDATA
	(USERSN, USERID, PASSWORD,NICK,IMGURL)
	VALUES
	(#{userSN},#{userId}, #{password}, #{nick}, #{imgUrl})

</insert>

<insert id="userSelectUnizInsert">
	<selectKey keyProperty="userSN" order="BEFORE" resultType="long">
		SELECT USERDATA_SEQ.CURRVAL FROM DUAL
	</selectKey>
	<foreach item="item" collection="unizSN" separator=" " open="INSERT ALL " close="SELECT * FROM DUAL">
	INTO MYUNIZPOINTLIST
	(USERSN, UNIZSN, POINT)
	VALUES
	(#{userSN}, #{item}, 50)
	</foreach>
</insert>



<select id="userDuplicationCheck" resultType="Integer">
	SELECT COUNT(*) 
	FROM USERDATA
	WHERE NICK = #{nick}
	OR USERID = #{userId}
</select>


<select id="userNickDuplicationCheck" resultType="Integer">
	SELECT COUNT(*)
	FROM USERDATA
	WHERE NICK = #{nick}

</select>

<select id="userIdkDuplicationCheck" resultType="Integer">
	SELECT COUNT(*)
	FROM USERDATA
	WHERE USERID = #{userId}

</select>

<insert id="insertUserData">
insert into userData 
( userSN, nick, userId, password, imgUrl, userType, state, 
lastLoginDateTime,createDateTime,updateDateTime, lastStateDateTime )
values(userData_seq.nextval, #{nick}, #{userId}, #{password}, #{imgUrl}, #{userType}, #{state}, 
sysdate, sysdate, sysdate, sysdate)
</insert>

<select id="getUserData" resultType="com.uniz.domain.UserDTO">
select * from userData where userSN = #{userSN}
</select>

<select id="findExistingUserId" resultType="INTEGER">
select count(*) from userData 
where userId = #{userId}
</select>

<select id="findExistingNick" resultType="INTEGER">
select count(*) from userData 
where nick = #{nick}
</select>


<select id="isIdPwdValid" resultType="INTEGER">
select count(*) from userData where userId  = #{userId}  and password = #{password}
</select>


<select id="selectState"  resultType="INTEGER">
select state from userData where userId = #{userId} and password = #{password}
</select>

<update id="updateUserInfo">
update userData
set nick = #{nick}, 
password = #{password}

where userId = #{userId}
</update>

<select id="getUserDTO" resultType="com.uniz.domain.UserDTO">
select * from userData where userId = #{userId}
</select>

<update id="updateState">
update userData
set state = 0
where password = #{password}
</update>

<select id="getUserDTOList" resultType="com.uniz.domain.UserDTO">
<![CDATA[
select * from userData where userSN > 0
]]>
</select>


</mapper>