<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniz.mapper.UserMapper">

<insert id="userDataInsert">
	<selectKey keyProperty="userSN" order="BEFORE" resultType="long">
		SELECT USERDATA_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO USERDATA
	(USERSN, USERID, PASSWORD,NICK,IMGURL)
	VALUES
	(#{userSN},#{userId}, #{password}, #{nick}, #{imgUrl})

</insert>

<insert id="userSelectUnizInsert">
	<selectKey keyProperty="userSN" order="BEFORE" resultType="long">
		SELECT USERDATA_SEQ.CURRVAL FROM DUAL
	</selectKey>
	<foreach item="item" collection="unizSN" separator=" " open="INSERT ALL " close="SELECT * FROM DUAL">
	INTO MYUNIZPOINTLIST
	(USERSN, UNIZSN, POINT)
	VALUES
	(#{userSN}, #{item}, 50)
	</foreach>
</insert>

<insert id="registerUserStateLog">
	<selectKey keyProperty="userSN" order="BEFORE" resultType="long">
		SELECT USERDATA_SEQ.CURRVAL FROM DUAL
	</selectKey>
	INSERT INTO USERSTATELOG
	(USERSN, STATUSSN)
	VALUES
	(#{userSN}, #{state})
</insert>

<select id="userDuplicationCheck" resultType="Integer">
	SELECT COUNT(*) 
	FROM USERDATA
	WHERE NICK = #{nick}
	OR USERID = #{userId}
</select>


<select id="userNickDuplicationCheck" resultType="Integer">
	SELECT COUNT(*)
	FROM USERDATA
	WHERE NICK = #{nick}

</select>

<select id="userIdkDuplicationCheck" resultType="Integer">
	SELECT COUNT(*)
	FROM USERDATA
	WHERE USERID = #{userId}

</select>

<select id="userLogin" resultType="Integer">
	SELECT COUNT(*) 
	FROM USERDATA WHERE USERID = #{userId} 
	AND PASSWORD = #{password}
</select>

<select id="getUserData" resultType="com.uniz.domain.UserDTO">
	SELECT * 
	FROM USERDATA 
	WHERE USERSN = #{userSN}
</select>

<select id="getUser" resultType="com.uniz.domain.UserDTO">
	SELECT * 
	FROM USERDATA 
	WHERE USERID = #{userId}
</select>

<select id="userUniz" resultType="com.uniz.domain.MyUnizPoint">
	SELECT UP.USERSN,U.UNIZSN,U.UNIZKEYWORD, UP.POINT 
	FROM MYUNIZPOINTLIST UP, UNIZ U 
	WHERE UP.USERSN = #{userSN}
	AND UP.UNIZSN = U.UNIZSN

</select>

<update id ="userDataUpdate">
	UPDATE 
	  USERDATA
	SET
	  USERSN = #{userSN},
	  USERID = #{userId},
	  PASSWORD = #{password},
	  UPDATEDATETIME = SYSDATE
	WHERE
	  USERSN = #{userSN}  
</update>

<update id ="changeUserState">
	UPDATE 
	  USERDATA
	SET 
	  STATE = #{state},
	  LASTSTATEDATETIME = sysdate
	WHERE 
	  USERSN = #{userSN}   
</update>

<insert id = "userStateLogInsert">
	INSERT INTO USERSTATELOG
	(USERSN, STATUSSN)
	VALUES
	(#{userSN}, #{state})

</insert>

</mapper>