<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniz.mapper.UserMapper">

<insert id="insertUserData">
insert into userData 
( userSN, nick, userId, password, imgUrl, userType, state, 
lastLoginDateTime,createDateTime,updateDateTime, lastStateDateTime )
values(userData_seq.nextval, #{nick}, #{userId}, #{password}, #{imgUrl}, #{userType}, #{state}, 
sysdate, sysdate, sysdate, sysdate)
</insert>

<select id="getUserData" resultType="com.uniz.domain.UserDTO">
select * from userData where userSN = #{userSN}
</select>

<select id="findExistingUserId" resultType="INTEGER">
select count(*) from userData 
where userId = #{userId}
</select>

<select id="findExistingNick" resultType="INTEGER">
select count(*) from userData 
where nick = #{nick}
</select>


<select id="isIdPwdValid" resultType="INTEGER">
select count(*) from userData where userId  = #{userId}  and password = #{password}
</select>


<select id="selectState"  resultType="INTEGER">
select state from userData where userId = #{userId} and password = #{password}
</select>

<update id="updateUserInfo">
update userData
set nick = #{nick}, 
 password = #{password}


where userId = #{userId}
</update>


</mapper>